body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #153147;
}

.searchresult {
    --padding: 24px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 800px;
    transition: box-shadow 0.25s;
    box-shadow: none;
}

.searchresult:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}